<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Biblioteca_Común.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Biblioteca_Común.Properties.Settings>
            <setting name="Biblioteca_Común_UDDIInquiry_UDDI_Inquiry_Port"
                serializeAs="String">
                <value>http://localhost:8080/juddiv3/services/inquiry</value>
            </setting>
            <setting name="Biblioteca_Común_UDDISecurity_UDDI_Security_Port"
                serializeAs="String">
                <value>http://localhost:8080/juddiv3/services/security</value>
            </setting>
            <setting name="Biblioteca_Común_UDDIPublish_UDDI_Publish_Port"
                serializeAs="String">
                <value>http://localhost:8080/juddiv3/services/publish</value>
            </setting>
        </Biblioteca_Común.Properties.Settings>
    </applicationSettings>
</configuration>