@font-face {  
  font-family: Moderna ;  
  src: url(../img/MODERNA_.TTF) format("truetype");  
}  


/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a {color: #682;}
a:hover {color: #9A6;}
body {
	background: #C9C6BF url(../img/bg.gif) repeat-y center top;
	color: #333;
	font: normal 67.5% "Calibri",sans-serif;
}
input {
	color: #555;
	font: normal 1.1em "Calibri",sans-serif;
}
p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
	color:Black;
	text-align:justify;
}
ul {margin-left: 1.2em;}
li {list-style-image: url(../img/li.gif);}
h1 {font-size: 1.4em;}
h2 {font-size: 1.4em;}
blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}
h1,h2,h3 {color: #654;}

/* misc */
.clearer {clear: both;}

/* structure */
.container {
	background: url(../img/bgcontainer.gif) repeat-y;
	margin: 0 auto;
	width: 952px;
}

/* top */
.top {
	background: url(../img/top.png) no-repeat;
	height: 100px;
	font: normal 3.9em Moderna,sans-serif;	
	margin: 0 auto;
	width: 880px;
}

.top a {
	color: #FFF;
	display: block;
	line-height: 60px;
	text-decoration: none;
	width: 100%;
}
.top span {padding-left: 24px;}


/* item */
.item {clear: both;}
.item .date {
	background: url(../img/bgdate.gif) no-repeat;
	color: #FDD;
	float: left;
	height: 40px;
	text-align: center;
	width: 36px;
	visibility: hidden;
}
.item .date div {padding-top: 4px;}
.item .date span {font: normal 1.6em serif;}
.item .content {
	float: left;
	width: 667px;
	height: 28px;
}
.item h1 {
	background: #A79E8C;
	color: #FFF;
	line-height: 40px;
	padding-left: 16px;
}
.item .body {padding: 12px 30px;}

/* main */
.main {float: left;}

/* navigation */
.navigation {
	float: left;
	margin-left: 1px;
	width: 212px;
}
.navigation h1 {
	background: #A79E8C;
	color: #FFF;
	font-size: 1.3em;
	line-height: 40px;
	padding-left: 12px;
}
.navigation ul {margin: 0; padding: 0;}
.navigation li {
	border-bottom: 1px solid #FFFFFF;
	list-style: none;
	
}
.navigation li a {
	background: #EBE5DC;
	color: #553;
	display: block;
	padding: 8px 4px 8px 12px;
	text-decoration: none;
}
.navigation li a:hover {
	background: #C9B385;
	color: #FFFFFF;
}

/* footer */
.footer {
	background: url(../img/bgfooter.gif) repeat-x;
	color: #FFF;
	font-size: 1.1em;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 876px;
	height: 60px;
}
.footer a {color: #FFF;}
.footer a:hover {color: #FAFCB0;}

.ctrlHolder{ padding: 8px; border-bottom: 1px solid #dfdfdf; width: 70%; margin-left: auto; margin-right: auto 
}
.buttonHolder{ margin-top: 10px; padding: 5px; text-align: center;}

.errorHolder{ padding: 8px; width: 70%; margin-left: auto; margin-right: auto 
}

.inlineLabel{ width: auto; float: none; margin: 5; display: block;}

 .formHint{ float: left; margin: 0; clear: none; }
 
 
.ErrorSummary{
    margin-top: 20px;
    margin-bottom: 20px;
	font: bold 67.5% "Calibri",sans-serif;
} 
 
IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto 
} 

.titulo{
	margin-left: 3px;
}

.etiqueta { 
	text-align: right;
	display: block;
	float: left;
	width: 35%;
	margin-top: 3px;
	margin-right: 0.5em;
	font-size: 1.1em;	
}
/*************************************************************************************/
