<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aplicación_de_Taller.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aplicación_de_Taller.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aplicación_de_Taller.Settings>
            <setting name="ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="puerto" serializeAs="String">
                <value>61616</value>
            </setting>
            <setting name="servidor" serializeAs="String">
                <value>tcp://localhost:61616</value>
            </setting>
        </Aplicación_de_Taller.Settings>
    </userSettings>
    <applicationSettings>
        <Aplicación_de_Taller.Settings>
            <setting name="topic" serializeAs="String">
                <value>pollaca</value>
            </setting>
        </Aplicación_de_Taller.Settings>
    </applicationSettings>
</configuration>