<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aplicación_de_Escritorio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aplicación_de_Escritorio.Properties.Settings>
            <setting name="Aplicación_de_Escritorio_SGC_InterfazRemota" serializeAs="String">
                <value>http://localhost:1132/InterfazRemota.asmx</value>
            </setting>
        </Aplicación_de_Escritorio.Properties.Settings>
    </applicationSettings>
    <connectionStrings>
        <add name="bd" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bd.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
        <add name="activemq" connectionString="tcp://localhost:61616" />
        <add name="topic" connectionString="solicitudes" />
    </connectionStrings>
</configuration>